.header {
  background: #ffffff;
  z-index: 990;
  margin-left: 250px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  transition: margin-left 300ms ease-in-out 0s;
}

.logo {
  background: #343957;
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  width: 250px;
  transition: width 300ms ease-in-out;
}

.logo span {
  color: rgba(160, 180, 200, 0.85);
  font-size: 20px;
  font-weight: 700;
}

.sidebar-hide .logo {
  width: 0;
}

.sidebar-hide .logo span {
  display: none;
}