h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito Sans', sans-serif;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

[data-bs-toggle="collapse"] {
    cursor: pointer;
}

.navbar-brand img,
img.logo {
    filter: brightness(10) !important
}

/* home */
.home-category .card:hover {
    background-color: rgb(255, 86, 86);
    color: #fff;
    cursor: pointer;
}

/* login */
.login {
    height: 80vh;
}

@media (max-width:500px) {
    .login {
        height: 50vh;
    }
}

.login form {
    width: 100%;
    max-width: 350px;
}