h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito Sans', sans-serif;
}

.navbar-brand img,
img.logo {
    filter: brightness(10) !important
}

/* home */
.home-category .card:hover {
    background-color: rgb(255, 86, 86);
    color: #fff;
    cursor: pointer;
}